/* style for all common components */
.budgetMonthYear{
    width: 100px !important;
    height: 100% !important;
    color: blue !important;
    font-weight: bold ;
    font-size: 20pt;
    border-width: 0;
    cursor: pointer;
    background-color: inherit !important;
}
.budgetMonthYearLabel{
    font-size: 15pt;
    padding-left: 20px;
}
