.envelopelist {
    width: 100%;
    display: grid;
}

.envelopeListTitle {
    position: sticky;
    top: 0;
    background-color: #e6e9ee;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 200px 200px 10px;
    align-items: center;
    text-align: right;
    font-weight: bold;
    color: blue;
}

.categoryrow {
    display: grid;
    width: 100%;
    font-weight: bold;
    height: 40px;
    background-color: #c2c5c9;
    align-items: center;
    margin-top: 1em;
    text-indent: 1em;
    cursor: pointer;
}

.enveloperow {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    align-items: center;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(6, 90, 246);
    text-indent: 2em;
}

.enveloperow :hover {
    background-color: aquamarine !important;
}

.envelopelist>.body>.enveloperow>.number {
    text-align: right;
    padding-right: 1em;
    cursor: pointer;
}

.envelopelist>.body>.enveloperow>.name {
    cursor: pointer;
}

.hiddenbutton {
    cursor: pointer;
    min-height: 100%;
    min-width: 100%;
}

.hiddenbutton .menu {
    display: none;
    background-color: #f9f9f9;
    min-width: 100%;
    min-height: 100%;

    z-index: 1;
}

.hiddenbutton .menu button {
    cursor: pointer;
    height: 30px;
    width: 80px;
}

.hiddenbutton:hover .menu {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}

.envelopeform {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.enveLabel {
    width: 120px;
}

.enveInput {
    width: 200px !important;
}

.enveTextArea {
    width: 200px !important;
}

.envelopemodal {
    width: 450px !important;
}

.envelopeFundTransferModal {
    width: 450px !important;
}

.enveTransferLabel {
    width: 150px;
}

.enveTransferInput {
    width: 120px;
    text-align: right;
}
