
.flexvertical{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.flexhorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.flexhorizontaltopcenter{
    justify-content: center;
    align-items: flex-start;
}
.flexverticaltopcenter{
    justify-content:flex-start;
    align-items:end;
}
.flexallmiddle{
    justify-content: center;
    align-items: center;
}
.grid{
    display:grid
}
.gridcellmiddleleft{
    display: grid;
    justify-items:left;
    align-items:center
}
.gridcellmiddleright{
    display: grid;
    justify-items:right;
    align-items:center
}
.textleft{
    text-align: left;
}
.righttext{
    text-align: right;
}
