
.flexvertical{
    display: flex;
    flex-direction: column;

}
.flexhorizontal{
    display: flex;
    flex-direction: row;

}
.flexhorizontaltopcenter{
    justify-content: center;
    align-items: flex-start;
}
.flexverticaltopcenter{
    justify-content:flex-start;
    align-items:end;
}
.flexallmiddle{
    justify-content: center;
    align-items: center;
}
.flexmiddleleft{
    justify-content: left;
    align-items: center;
}
.flexmiddleright{
    justify-content: right;
    align-items: center;
}
.grid{
    display:grid
}
.gridcol2{
    grid-template-columns: 1fr 1fr ;
}
.gridcol1{
    grid-template-columns: 1fr ;
}
.gridcol6{
    grid-template-columns: repeat(6,1fr);
}
.gridcol4{
    grid-template-columns: repeat(4,1fr);
}
.gridcol5{
    grid-template-columns: repeat(5,1fr);
}
.gridcellmiddleleft{
    display: grid;
    justify-items:left;
    align-items:center
}
.gridcellmiddleright{
    display: grid;
    justify-items:right;
    align-items:center
}
.textleft{
    text-align: left;
}
.righttext{
    text-align: right;
}

.buttonsm{
    padding: .25em;
}
.colgapsm{
    column-gap: .25em;
}
